<div class="row">
  <div class="col-11 mx-auto">
    <form class="bg-mode shadow rounded-3 p-4">
      <div class="row g-4 align-items-center">
        <div class="col-xl-10">
          <div class="row g-4">
            <div class="col-md-6 col-lg-6">
              <label class="h6 fw-normal mb-0"><i class="bi bi-geo-alt text-primary me-1"></i>Location</label>

              <div class="form-border-bottom form-control-transparent form-fs-lg mt-2">
                <select class="form-select js-choice" name="location" data-search-enabled="true"
                  [(ngModel)]="selectedCityId">
                  <option value="0" selected disabled>Select location</option>
                  <option *ngFor="let location of locations" [value]="location.cityId">
                    {{ location.cityName }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <label class="h6 fw-normal mb-0"><i class="bi bi-calendar text-primary me-1"></i>Date</label>

              <div class="form-border-bottom form-control-transparent form-fs-lg mt-2">
                <input type="date" class="form-control flatpickr py-2" mwlFlatpickr data-date-format="d M Y"
                  placeholder="Choose a date" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-2">
          <div class="d-grid">
            <button 
              class="btn btn-lg btn-dark mb-0" 
              [disabled]="!selectedCityId"
              (click)="goToList(selectedCityId)">
              Search
            </button>
          </div>
        </div>
        
      </div>
    </form>
  </div>
</div>