<section>
  <div class="rounded-2 container bg-primary p-4 d-flex justify-content-between align-items-center">

    <div class="">
      <h3 class=" text-white">Discover your new<br /> favourite stay</h3>

      <div class="mt-8">
        <p class="text-white fs-5 fw-bold">Sign-in, Save Money</p>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
    </div>


    <!-- <div class="row g-4 border-2 border">
      @for (data of properties; track $index) {
      <div class="col-sm-6 col-xl-3 p-2">
        <div class="card card-img-scale overflow-hidden bg-transparent">
          <div class="card-img-scale-wrapper rounded-3" style="width: 150px;">
            <img src="{{ data.image }}" class="card-img" alt="hotel image" />
            <div class="position-absolute bottom-0 start-0 p-3 mx-1">
              <div class="position-absolute bottom-0 start-0 p-3">
                <div class="badge text-bg-dark rounded-pill stretched-link">{{ data.type }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div> -->


    <div class="tiny-slider arrow-round arrow-border arrow-hover" style="width: 45vw;">
      <div class="tiny-slider-inner" data-edge="2" data-items="1">
        <ng-tiny-slider [config]="testimonialSliderSettings" #offerSlider>
          @for (data of properties; track $index) {

          <div class="card card-img-scale overflow-hidden bg-transparent me-2 mb-0" style="width: 200px;">
            <div class="card-img-scale-wrapper rounded-3">
              <img src="{{ data.image }}" class="card-img" alt="hotel image" />
              <p class="position-absolute bottom-0 start-50 translate-middle-x p-0 text-white z-3 text-nowrap">
                {{data.type }}</p>
            </div>
          </div>
          }

        </ng-tiny-slider>
      </div>
    </div>
  </div>

</section>