<main class="card">
  <section class="container pb-0">

    <div class="row">
      <div class="col-12 text-center">
        <h1 class="fs-2 mb-2">Register your Taxi</h1>
        <p class="mb-0">
          Register Your Taxi Effortlessly and become our partner Today!
        </p>
      </div>
    </div>

    <div class="mt-4 bs-stepper">
      <div class="bs-stepper-header" role="tablist">

        @for (item of steps; track $index) {
        <div class="line"></div>
        <div class="step" [ngClass]="{'active': currentStep === item.id}" (click)="goToStep(item.id)">
          <div class="text-center">
            <button type="button" class="btn btn-link step-trigger mb-0" role="tab">
              <span class="bs-stepper-circle">{{item.id}}</span>
            </button>
            <p class="text-wrap d-none d-md-block">{{item.label}}</p>
          </div>
        </div>
        <div class="line"></div>
        }
      </div>
    </div>
  </section>

  <section class="container pb-0">
    <div class="">

      <!-- Step 1 - Location -->
      <div class="card shadow" *ngIf="currentStep==1">
        <div class="card-header border-bottom">
          <h5 class="mb-0">Location</h5>
        </div>

        <div class="card-body">
          <div class="row g-3">
            <div class="col-6">
              <label class="form-label">Company/Taxi Name *</label>
              <input class="form-control" type="text" name="companyName" [(ngModel)]="taxiRegistrationForm.companyName"
                placeholder="Enter Company/Taxi Name" required #companyName="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.companyName == '' && (companyName.touched || isSubmitted)}">
              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.companyName == '' && (companyName.touched || isSubmitted)">
                Please enter an Company/Taxi Name.
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Country/Region *</label>
              <select class="form-select js-choice" required [(ngModel)]="taxiRegistrationForm.countryId"
                [ngClass]="{'is-invalid': taxiRegistrationForm.countryId === 0 && (country.touched || isSubmitted)}"
                (ngModelChange)="loadState($event)" #country="ngModel">
                <option [value]="0" disabled selected>Select Country</option>
                <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.countryId === 0 && (country.touched || isSubmitted)">
                Please select a country.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">State *</label> 
              <select class="form-select js-choice" name="stateId" required [(ngModel)]="taxiRegistrationForm.stateId"
                [ngClass]="{'is-invalid': taxiRegistrationForm.stateId === 0 && (state.touched || isSubmitted)}"
                #state="ngModel" (ngModelChange)="loadCity($event)">
                <option [value]="0" disabled selected>Select State</option>
                <option *ngFor="let state of states" [ngValue]="state.stateId">{{ state.stateName }}</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.stateId === 0 && (state.touched || isSubmitted)">
                Please select a state.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">City *</label>
              <select class="form-select js-choice" name="city" required [(ngModel)]="taxiRegistrationForm.cityId"
                #city="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.cityId === 0 && (city.touched || isSubmitted)}">
                <option [value]="0" disabled selected>Select City</option>
                <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.cityId === 0 && (country.touched || isSubmitted)">
                Please select a city.
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">Airport *</label>
              <input class="form-control" type="text" name="street" [(ngModel)]="taxiRegistrationForm.operatingAirport"
                placeholder="Enter operation airport" required #airportName="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.operatingAirport == '' && (airportName.touched || isSubmitted)}">
              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.operatingAirport == '' && (airportName.touched || isSubmitted)">
                Please enter an operation airport.
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Step 2 - Contact Information -->
      <div class="card shadow" *ngIf="currentStep==2">
        <div class="card-header border-bottom">
          <h5 class="mb-0">Contact Information</h5>
        </div>

        <div class="card-body p-3">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">First Name *</label>
              <input class="form-control" type="text" name="firstName" placeholder="Enter your first name" required
                [(ngModel)]="taxiRegistrationForm.firstName" #firstName="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.firstName == '' && (firstName.touched || isSubmitted)}">
              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.firstName == '' && (firstName.touched || isSubmitted)">
                Please enter your first name.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Last Name *</label>
              <input class="form-control" type="text" name="lastName" placeholder="Enter your last name" required
                [(ngModel)]="taxiRegistrationForm.lastName" #lastName="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.lastName == '' && (lastName.touched || isSubmitted)}">
              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.lastName == '' && (lastName.touched || isSubmitted)">
                Please enter your last name.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Email Address *</label>
              <input class="form-control" type="text" name="email" placeholder="Enter your email address"
                [(ngModel)]="taxiRegistrationForm.email" #email="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.email == '' && (email.touched || isSubmitted)}">
            </div>
            <div class="invalid-feedback" *ngIf="taxiRegistrationForm.email == '' && (email.touched || isSubmitted)">
              Please enter your email address.
            </div>

            <div class="col-md-6">
              <label class="form-label">Phone Number *</label>
              <input class="form-control" type="text" name="mobile1" placeholder="Enter your phone number" required
                [(ngModel)]="taxiRegistrationForm.contactNumber" #contactNo="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.contactNumber == '' && (contactNo.touched || isSubmitted)}">
              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.contactNumber == '' && (contactNo.touched || isSubmitted)">
                Please enter your phone number.
              </div>
            </div>

            <div class="col-md-12">
              <label class="form-label">Website </label>
              <input class="form-control" type="text" name="website" placeholder="Enter your Website"
                [(ngModel)]="taxiRegistrationForm.website" [maxlength]="40">
            </div>
          </div>
        </div>
      </div>

      <!-- Step 3 - Fleet Details -->
      <div class="card shadow" *ngIf="currentStep==3">
        <div class="card-header border-bottom">
          <h5 class="mb-0">Fleet Details</h5>
        </div>

        <div class="card-body p-3">
          <div class="row g-3">

            <div class="col-md-6">
              <label class="form-label">Max Bookings per day *</label>
              <input class="form-control" type="number" name="value" placeholder="Enter bookings" required
                [(ngModel)]="taxiRegistrationForm.bookingPerDay" #maxBookingsPerDay="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.bookingPerDay == 0 && (maxBookingsPerDay.touched || isSubmitted)}">

              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.bookingPerDay == 0 && (maxBookingsPerDay.touched || isSubmitted)">
                Please enter max bookings per day.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Fleet Size *</label>
              <select class="form-select js-choice" name="odometer" required
                [(ngModel)]="taxiRegistrationForm.fleetSize" #fleetSizeId="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.fleetSize === 0 && (fleetSizeId.touched || isSubmitted)}">
                <option [value]="0" disabled selected>Select fleet size</option>
                <option *ngFor="let item of fleet" [ngValue]="item.id">{{ item.name }}</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Availability Status</label>
              <select class="form-select js-choice" name="availabilityStatus" required
                [(ngModel)]="taxiRegistrationForm.availabilityStatus" #availability="ngModel"
                [ngClass]="{'is-invalid': !taxiRegistrationForm.availabilityStatus && (availability.touched || isSubmitted)}">
                <option [value]="''" disabled selected>Select Availability Status</option>
                <option *ngFor="let item of availabilityStatusList" [ngValue]="item.value">{{ item.label }}</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="!taxiRegistrationForm.availabilityStatus && (availability.touched || isSubmitted)">
                Please select Availability Status.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Passengers Capacity</label>
              <select class="form-select js-choice" name="seats" required [(ngModel)]="taxiRegistrationForm.capacity"
                #make="ngModel"
                [ngClass]="{'is-invalid': taxiRegistrationForm.capacity == 0 && (make.touched || isSubmitted)}">
                <option [value]="0" disabled selected>Select Passengers Capacity</option>
                <option *ngFor="let item of passengesCapacity" [ngValue]="item.id">{{ item.name }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="taxiRegistrationForm.capacity == 0 && (make.touched || isSubmitted)">
                Please select Passengers Capacity.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Base Price *</label>
              <input class="form-control" type="number" name="value" placeholder="Enter Base Price" required
                [(ngModel)]="taxiRegistrationForm.basePrice" #price="ngModel" [min]="0"
                [ngClass]="{'is-invalid': taxiRegistrationForm.basePrice == 0 && (price.touched || isSubmitted)}">

              <div class="invalid-feedback"
                *ngIf="taxiRegistrationForm.basePrice == 0 && (price.touched || isSubmitted)">
                Please enter Base Price.
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Currency</label>
              <select class="form-select" [(ngModel)]="taxiRegistrationForm.currency" required #currency="ngModel"
                [ngClass]="{'is-invalid': currency.touched && taxiRegistrationForm.currency === 0}">
                <option *ngFor="let type of currencies" [ngValue]="type.id">{{ type.name }}</option>
              </select>
              <div *ngIf="currency.touched && taxiRegistrationForm.currency === 0"
                class="invalid-feedback">
                Please select a valid Currency.
              </div>
            </div>

            <div class="col-6">
              <label class="form-label">Image *</label>
              <input class="form-control" type="file" (change)="onThumbnailChange($event)" required
                [ngClass]="{'is-invalid': !taxiRegistrationForm.image && isSubmitted}">
              <div *ngIf="!taxiRegistrationForm.image && isSubmitted" class="invalid-feedback">
                Please upload a image.
              </div>
            </div>
            <div class="col-6">
              <label class="form-label">Description *</label>
              <input class="form-control" type="text"  [(ngModel)]="taxiRegistrationForm.description"
                [ngClass]="{'is-invalid': !taxiRegistrationForm.description && isSubmitted}">
              <div *ngIf="!taxiRegistrationForm.description && isSubmitted" class="invalid-feedback">
                Please Enter Description.
              </div>
            </div>

            <div class="col-md-12">
              <label class="form-label">Vehicle Type *</label>

              @for(item of types; track $index) {
              <div class="form-check">
                <input class="form-check-input" type="checkbox"   (change)="onVehicleTypeChange($event, item.id)"
                  [value]="item.id" [id]="item.name" />
                <label class="form-check-label" [for]="item.name">{{item.name}} - <small>{{item.description}}</small>
                </label>
              </div>
              }

            </div>


          </div>
        </div>
      </div>

      <div class="mt-4 d-flex justify-content-between align-items-center">

        <div class="text-end" [class.invisible]="currentStep === 1">
          <button type="button" class="btn btn-primary" (click)="prevStep()">Back</button>
        </div>

        <div class=" text-end">
          <button type="button" class="btn btn-primary" (click)="nextStep()"> {{ currentStep === totalSteps ? 'Complete
            Registration' :
            'Continue' }}</button>
        </div>
      </div>

    </div>
  </section>
</main>
<home-footer1 />