<section class="pt-0 pt-md-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h4 class="mb-0">Top Destinations</h4>
      </div>
    </div>

    <div class="row g-4">
      @for (item of tourPackages; track $index) {

        <div class="col-sm-6 col-xl-4" [routerLink]="['/tours/list', item.cityId]">
          <div class="card card-img-scale overflow-hidden bg-transparent rounded-1">
            <div class="card-img-scale-wrapper position-relative rounded-3">
              <img [src]="item.imageUrl" class="card-img" alt="" />

              <div class="z-3 position-absolute w-100 p-2" style="bottom: 8px; left: 8px;">
                <p class="m-0 text-white">{{ item.cityName }}</p>
                <p class="card-text small text-white">{{ item.attractionCount }} things to do</p>
              </div>

            </div>

          </div>
        </div>
      }
    </div>

  </div>
</section>