<style>
  .hero-bg-image {
    position: relative;
    background:
      linear-gradient(to bottom, rgba(21, 124, 183, 1), rgba(21, 124, 183, 0.8), rgba(21, 124, 183, 0.7), rgba(21, 124, 183, 0.6), rgba(21, 124, 183, 0.3)),
      url('/assets/images/bg/03.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
  }
</style>

<div class="hero-bg-image">
  <home-topbar [activeTab]="'Car rentals'" />
  <home-banner [carFilter]="this.carFilter" (carList)="updateList($event)"/>
</div>

<main>
  <cab-list [carList]="this.carList"/>
</main>
<list-footer1 />