.card {
    border-radius: 10px !important;
    max-width: 30vw;
    box-shadow: 0 5px 10px rgb(192, 192, 192);
    background-color: #fff;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(150, 150, 150);
}

.card-img {
    border-radius: 0 !important;
}