<style>
  .active {
    border-bottom: 2px solid rgb(20, 192, 255);
    box-shadow: 0 0 5px rgb(182, 182, 182);
  }

  .hover:hover {
    box-shadow: 0 0 5px rgb(182, 182, 182);
    transition: all 0.2s ease;
  }
</style>

<section class="">
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <div class="d-sm-flex justify-content-sm-between align-items-center">
          <div class="">
            <h1 class="fs-3">{{data.cars.length}} Cars Available</h1>
          </div>

          <button class="btn btn-primary-soft btn-primary-check d-xl-none mb-0" type="button"
            (click)="openFilter(offcanvasSidebar)" aria-controls="offcanvasSidebar">
            <i class="fa-solid fa-sliders-h me-1"></i> Show filters
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-0">
  <div class="container" data-sticky-container>
    <div class="row">
      <aside class="col-4">
        <div ng-sticky class="sticky-element" data-margin-top="80" data-margin-bottom="100" data-sticky-for="1199">
          <div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar"
            aria-labelledby="offcanvasSidebarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasSidebarLabel">
                Advance Filters
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar"
                aria-label="Close"></button>
            </div>

            <div class="offcanvas-body flex-column p-3 p-xl-0">
              <form class="rounded border">

                <div class="p-4 d-flex justify-content-between align-items-center">
                  <h5 class="m-0">Filter</h5>
                  <p class="text-decoration-underline cursor-pointer text-primary m-0" (click)="clearAllFilters()">Clear all filters</p>
                </div>

                <hr class="my-0" />

                <div class="card card-body rounded-0 rounded-top p-4">
                  <h6 class="mb-2">Passenger capacity</h6>

                  <div class="form-check" *ngFor="let item of originalData.passengerSeats;  let i = index">
                    <input class="form-check-input" type="checkbox" [id]="'seat-' + i"
                      (change)="onCheckboxChange('passengerSeats', item.seats, $event)"
                      [checked]="filters.passengerSeats.has(item.seats)" />
                    <label class="form-check-label" [for]="'seat-' + i">{{item.seats}} passenger seats</label>
                  </div>
                </div>

                <hr class="my-0" />

                <div class="card card-body rounded-0 p-4">
                  <h6 class="mb-2">Price</h6>

                  <div class="position-relative">
                    <div class="noui-wrapper mb-0">
                      <div class="d-flex justify-content-between">
                        <input type="text" class="text-body input-with-range-min"
                          [value]="this.filters.priceRange.min" />
                        <input type="text" class="text-body input-with-range-max"
                          [value]="this.filters.priceRange.max" />
                      </div>
                      <ngx-slider [(value)]="this.filters.priceRange.min" [(highValue)]="this.filters.priceRange.max"
                        [options]="sliderOptions" class="range-slider-ui">
                      </ngx-slider>
                    </div>
                  </div>
                </div>

                <hr class="my-0" />

                <div class="card card-body rounded-0 rounded-top p-4">
                  <h6 class="mb-2">Car Make</h6>

                  <div class="form-check" *ngFor="let item of originalData.makes; let i = index">
                    <input class="form-check-input" type="checkbox" [id]="'make-' + i"
                      (change)="onCheckboxChange('makes', item.id, $event)" 
                      [checked]="filters.makes.has(item.id)"/>
                    <label class="form-check-label" [for]="'make-' + i">{{item.name}}</label>
                    <small> - ({{item.count}})</small>
                  </div>
                </div>

                <hr class="my-0" />

                <div class="card card-body rounded-0 rounded-top p-4">
                  <h6 class="mb-2">Odometer Reading</h6>

                  <div class="form-check" *ngFor="let item of originalData.odometerReadings; let i = index">
                    <input class="form-check-input" type="checkbox" [id]="'meter-' + i"
                      (change)="onCheckboxChange('odometerReadings', item.id, $event)" 
                       [checked]="filters.odometerReadings.has(item.id)"/>
                    <label class="form-check-label" [for]="'meter-' + i">{{item.name}}</label>
                    <small> - ({{item.count}})</small>
                  </div>
                </div>

              </form>
            </div>

          </div>
        </div>
      </aside>

      <div class="col-8">

        <div class="vstack gap-4">

          <div class="d-flex flex-row overflow-auto gap-3 p-1">

            <div class="card text-center flex-shrink-0 rounded-1 px-1 hover" *ngFor="let category of originalData.categories"
              (click)="selectCategory(category.id)" style="cursor: pointer;" [attr.data-id]="category.id"
              [class.active]="selectedCategoryId === category.id">
              <img [src]="category.icon" class="card-img-top p-2" [alt]="category.name"
                style="height: 40px; object-fit: contain;" />
              <div class="card-body p-2">
                <p class="card-title mb-0">{{ category.name }}</p>
              </div>
            </div>
          </div>

          <div *ngFor="let item of filteredData; let i = index" class="card rounded-1 border p-2">
            <div class="card-body p-0">
              <div class="row g-2 g-sm-4">
                <div class="col-md-4 col-xl-3">
                  <div class="bg-light rounded-3 px-4 py-5">
                    <img [src]="item.carImageBase64" alt="" />
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 col-xl-6">

                  <div *ngIf="i === 0" class="mb-2">
                    <span class="badge bg-primary">Top Pick</span>
                  </div>

                  <h5 class="card-title mb-2">
                    <a routerLink="/cabs/detail" class="stretched-link">{{
                      item.name}}
                    </a>
                  </h5>

                  <div class="row g-2">
                    <div class="col-6">
                      <i class="fa fa-user"></i>
                      {{ item.passengerCapacity }} seats
                    </div>

                    <div class="col-6">
                      <i class="fa-solid fa-cogs"></i>
                      {{ item.transmission }}
                    </div>

                    <div class="col-6">
                      <i class="fa-solid fa-road"></i>
                      {{ item.mileageLimit }}Km mileage limit
                    </div>

                  </div>

                  <p class="text-primary m-0 mt-2">{{item.pickupLocation}}</p>

                </div>

                <div class="col-sm-6 col-md-4 col-xl-3 text-end d-flex align-items-end justify-content-end">

                  <div class="">
                    <small class="me-2 my-1">
                      Price for {{item.days}} days:
                    </small>
                    <p class="h4 p-0 my-0">
                      {{ item.currency }} {{ item.totalRent | number:'1.0-0' }}
                    </p>
                    <small class="text-dark-green my-1">
                      Free cancellation
                    </small>
                    <button href="javascript:void(0);" class="rounded-1 btn btn-primary px-3 my-1">
                      <small>View Deal</small>
                    </button>
                  </div>

                </div>

              </div>
            </div>


          </div>

          <div *ngIf="filteredData.length === 0">
            <div class="text-center py-5">
              <p>No results found.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<ng-template #offcanvasSidebar let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Advance Filters</h5>
    <button type="button" class="btn-close" (click)="offcanvas.close()" aria-label="Close"></button>
  </div>

  <cab-list-filter />

  <div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-4">
    <button class="btn btn-link p-0 mb-0">Clear all</button>
    <button class="btn btn-primary mb-0">Filter Result</button>
  </div>
</ng-template>