<section class="overflow-hidden pt-0 pt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center mx-auto">
                <img src="assets/images/element/congratulations.svg" class="h-300px my-4" alt="" />

                <h1 class="fs-3">The Attraction has been registered successfully. 🎉</h1>

                <p class="text-dark">
                    Thank you for adding a new attraction! We appreciate your contribution and can't wait for people to
                    discover it. 😊
                </p>

                <a [routerLink]="['/tours/home']" class="btn btn-primary mb-5 me-1">Continue Exploring</a>
            </div>
        </div>
    </div>
</section>