<div class="card bg-transparent">

  <hr>

  <div class="card-body pt-4 p-0">

    <div class="row g-3">

      <div class="col-12">
        <h5>Great Choice</h5>
        <ul class="list-group list-group-borderless mb-0">
          <li class="list-group-item mb-0 pb-0">
            <i class="fa-solid fa-check text-success me-1"></i>
            Rental counter in terminalFare beyond 600kms
          </li>
          <li class="list-group-item mb-0 pb-0">
            <i class="fa-solid fa-check text-success me-1"></i>
            Short lines
          </li>
          <li class="list-group-item mb-0 pb-0">
            <i class="fa-solid fa-check text-success me-1"></i>
            Free Cancellation

          </li>
          <li class="list-group-item mb-0 pb-0">
            <i class="fa-solid fa-check text-success me-1"></i>
            Most popular fuel policy
          </li>
        </ul>
      </div>

      <hr>

      <div class="col-sm-6">
        <h5>Included in the price</h5>
        <ul class="list-group list-group-borderless mb-0">
          <li class="list-group-item mb-0 pb-0">
            <i class="fa-solid fa-check text-success me-1"></i>
            Free cancellation up to 48 hours before pick-up
          </li>
          <li class="list-group-item mb-0 pb-0">
            <i class="fa-solid fa-check text-success me-1"></i>
            Theft Protection with PKR 115,175 excess
          </li>
          <li class="list-group-item mb-0 pb-0">
            <i class="fa-solid fa-check text-success me-1"></i>
            Collision Damage Waiver with PKR 115,175 deductible
          </li>
          <li class="list-group-item mb-0 pb-0">
            <i class="fa-solid fa-check text-success me-1"></i>
            Unlimited mileage
          </li>
        </ul>
      </div>


    </div>
  </div>
</div>