<div class="header-wrapper-hotel-list">
  <top-nav-header [activeTab]="'Stays'" />

</div>

<main>
  <section class="py-2 py-sm-0 overflow-hidden mt-n7 card">
    <detail-hotel-gallery class="overflow-hidden" [data]="this.property" />
  </section>

  <section class="pt-0">
    <div class="container">
      <div data-sticky-container class="row g-4 g-xl-5">
        <div class="col-xl-7 order-1">
          <div class="vstack gap-5">
            <detail-about [data]="this.property"/>

            <detail-amenities [data]="this.property" />

            <detail-room [data]="this.property" />

            <detail-customer-review />

            <detail-policies  [data]="this.property"/>
          </div>
        </div>
        <aside class="col-xl-5 order-xl-2">
          <detail-price-overview [data]="this.property"/>
        </aside>
      </div>
    </div>
  </section>
</main>

<home-footer1 />
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasEditsearchLabel">Edit search</h5>
    <button type="button" class="btn-close" (click)="offcanvas.close()" aria-label="Close"></button>
  </div>
  <detail-availability-filter />
</ng-template>