@import "../../../../../../assets/scss/user-variables";

.card {
    border-radius: 6px !important;
    box-shadow: 0 5px 10px rgb(220, 220, 220);
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(187, 187, 187);
}

.card-img {
    border-radius: 0 !important;
}

.bg-teal {
    background-color: $teal;
}

.text-blue {
    color: $dark-blue;
}

.rating-tag {
    justify-self: start;
    align-self: start;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}