<section class="pt-4 pt-lg-5">
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <div class="d-md-flex justify-content-md-between">
          <div>
            <h1 class="fs-2">{{attraction.title}}</h1>
            <ul class="nav nav-divider h6 text-body mb-0">
              <li class="nav-item">{{attraction.shortDescription}}</li>
            </ul>
            <div>
              <small><i class="bi bi-geo-alt me-2"></i>{{ attraction.cityName }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-md-5">
      <lightgallery [settings]="settings" class="col-8">
        <splide class="splide splide-main mb-3" #mainSplide [options]="{
            type: 'slide',
            pagination: false,
            arrows: false,
            lazyLoad: 'sequential',
            preloadPages: 3,
            heightRatio: 0.5
          }">
          @for (item of attraction.images; track $index) {
          <splide-slide class="splide__slide"><img [src]="item" alt="" />

            <a [href]="item" class="stretched-link" data-gallery="banner"></a>
          </splide-slide>
          }
        </splide>

        <splide class="mt-3" [syncWith]="mainSplide" [options]="{
            rewind: true,
            isNavigation: true,
            gap: 20,
            focus: 'center',
            pagination: false,
            cover: true,
            lazyLoad: 'sequential',
            preloadPages: 20,
            fixedWidth: 200,
            fixedHeight: 120
          }">
          @for (data of attraction.images; track $index) {
          <splide-slide class="splide__slide mt-3"><img [src]="data" alt="" /></splide-slide>
          }
        </splide>
      </lightgallery>

      <aside class="col-xl-4">
        <detail-pricing [attraction]="attraction"/>
      </aside>
    </div>
  </div>
</section>