<div class="card bg-transparent">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <h3 class="card-title mb-0">Customer Review</h3>
  </div>

  <div class="card-body pt-4 p-0">
    <div class="card bg-light p-4 mb-4">
      <div class="row g-4 align-items-center">
        <div class="col-md-4">
          <div class="text-center">
            <h2 class="mb-0">{{reviews?.ratings}}</h2>
            <p class="mb-2">Based on {{reviews?.totalCount}} Reviews</p>

            <ul class="list-inline mb-0">
              @for (item of reviews?.ratings; track $index) {
              <li class="list-inline-item me-0">
                <i class="fa-solid fa-star text-warning"></i>
              </li>
              }
            </ul>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card-body p-0">
            <div class="row gx-3 g-2 align-items-center">
              <div class="col-9 col-sm-10">
                <ngb-progressbar type="warning" [value]="1" [height]="'5px'" class="" />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">0%</span>
              </div>

              <div class="col-9 col-sm-10">
                <ngb-progressbar type="warning" [value]="1" [height]="'5px'" class="" />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">0%</span>
              </div>

              <div class="col-9 col-sm-10">
                <ngb-progressbar type="warning" [value]="1" [height]="'5px'" class="" />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">0%</span>
              </div>

              <div class="col-9 col-sm-10">
                <ngb-progressbar type="warning" [value]="1" [height]="'5px'" class="" />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">0%</span>
              </div>

              <div class="col-9 col-sm-10">
                <ngb-progressbar type="warning" [value]="1" [height]="'5px'" class="" />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">0%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form class="mb-5" [formGroup]="reviewForm" (ngSubmit)="postReview()">
      <div class="form-control-bg-light mb-3">
        <select class="form-select js-choice" formControlName="ratingId">
          <option value=5 selected>★★★★★ (5/5)</option>
          <option value=4>★★★★☆ (4/5)</option>
          <option value=3>★★★☆☆ (3/5)</option>
          <option value=2>★★☆☆☆ (2/5)</option>
          <option value=1>★☆☆☆☆ (1/5)</option>
        </select>
      </div>

      <div class="form-control-bg-light mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your review" rows="3"
          formControlName="review"></textarea>
      </div>

      <button type="submit" class="btn btn-lg btn-primary mb-0">
        Post review <i class="bi fa-fw bi-arrow-right ms-2"></i>
      </button>
    </form>

    @for (review of reviews?.reviewdetails || []; track $index) {
    <div class="d-md-flex my-4">
      <div class="avatar avatar-lg me-3 flex-shrink-0">
        <img class="avatar-img rounded-circle" src="assets/images/avatar/default.png" alt="avatar" />
      </div>

      <div>
        <div class="d-flex justify-content-between mt-1 mt-md-0">
          <div>
            <h6 class="me-3 mb-0">{{review?.userName}}</h6>

            <ul class="nav nav-divider small mb-2">
              <li class="nav-item">{{review?.reviewDate | date:'dd MMM yyyy'}}</li>
            </ul>
          </div>

          <div class="icon-md rounded text-bg-warning fs-6">{{review?.rating}}</div>
        </div>

        <p class="mb-2">
          {{review?.review}}
        </p>

      </div>
    </div>

    <hr />
    }
    <div class="text-center">
      <a href="javascript:void(0);" class="btn btn-primary-soft mb-0">Load more</a>
    </div>
  </div>
</div>