<div class="header-wrapper-hotel-list d-flex justify-content-between flex-column">
  <top-nav-header [activeTab]="'Stays'" />

  <div class="container mb-n4" style="z-index: 9999;">
    <home-availability-filter />
  </div>

</div>

<main>

  <section class="pt-7 mt-n3 card">
    <div class="container">

      <div class="row">
        <aside class="col-xl-4 col-xxl-3">
          <list-filterbar />
        </aside>

        <div class="col-xl-8 col-xxl-9">
          <!-- <list-card [hotelList]="hotelList" /> -->
          <list-card />
        </div>
      </div>
    </div>
  </section>

</main>
<home-footer1 />