<div class="card bg-transparent">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <h3 class="card-title mb-0">Amenities</h3>
  </div>

  <div class="card-body pt-4 p-0">
    <div class="row g-4">

        <div class="col-sm-6">

          <ul class="list-group list-group-borderless mt-2 mb-0">
            @for (amenity of data?.amenities; track $index) {
              <li class="list-group-item pb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                >{{ amenity.name }}
              </li>
            }
          </ul>
        </div>
    </div>
  </div>
</div>
