<style>
  .hero-bg-image {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
      url('/assets/images/bg/bg-hero-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
</style>

<main>

  <div class="hero-bg-image">
    <home-top-nav />

    <home-hero />
  </div>

  <app-home-middle-section />

  <!--   <home-offer-slider /> -->

  <!--   <home-featured-holiday /> -->

  <home-feture-hotel />

  <app-home-feature-properties />

  <app-discover-favrite-stay />

  <!-- <home-clients /> -->

  <!-- <home-testimonial-slider /> -->

  <!--   <home-nearby /> -->

  <!-- <home-apps-link /> -->
</main>

<home-footer1 />