<div class="vstack gap-4">
  <h4 class="mb-0">Basic Information</h4>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Choose Listing Category</h5>
    </div>

    <div class="card-body"> 
        <div class="row g-4">
          <div class="col-12">
            <label class="form-label">Choose listing type *</label>
            <select class="form-select js-choice" (ngModelChange)="formValid()" [(ngModel)]="category.listingTypeId" name="listingTypeId" required [ngClass]="{'is-invalid': !category.listingTypeId}" >
              <option *ngFor="let type of listingTypes" [ngValue]="type.id">{{ type.name }}</option>
            </select>
            <div *ngIf="category.listingTypeId" class="invalid-feedback">
              Please select a listing type.
            </div>
          </div>
          

          <div class="col-12">
            <label class="form-label">Listing name *</label>
            <input class="form-control" type="text" (ngModelChange)="formValid()" [(ngModel)]="category.name" name="name" placeholder="Enter place name" required [ngClass]="{'is-invalid': !category.name}">
            <div *ngIf="!category.name" class="invalid-feedback">
              Please enter a listing name.
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">Is your listing set as a personal or guest use *</label>
            <div class="d-sm-flex">
              <div class="form-check radio-bg-light me-4" *ngFor="let option of guestOptions">
                <input class="form-check-input" type="radio" (ngModelChange)="formValid()" [(ngModel)]="category.guest" name="guest" [value]="option.value" id="{{ option.id }}" required [ngClass]="{'is-invalid': !category.guest}">
                <label class="form-check-label" [for]="option.id">
                  {{ option.label }}
                </label>
              </div>
            </div>
            <div *ngIf="!category.guest" class="invalid-feedback">
              Please select guest option.
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">Short description *</label>
            <textarea class="form-control" rows="2" (ngModelChange)="formValid()" [(ngModel)]="category.description" name="description" placeholder="Enter keywords" required [ngClass]="{'is-invalid': !category.description}"></textarea>
            <div *ngIf="!category.description" class="invalid-feedback">
              Please enter a short description.
            </div>
          </div>
        </div> 
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Listing Location</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Country/Region *</label>
          <select class="form-select js-choice" (ngModelChange)="formValid()" [(ngModel)]="category.countryId" name="countryId" required [ngClass]="{'is-invalid': category.countryId === 0}">
            <option value="">Select Country</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}</option>
          </select>
          <div *ngIf="category.countryId === 0" class="invalid-feedback">
            Please select a country.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">State *</label>
          <select class="form-select js-choice" (ngModelChange)="formValid()" [(ngModel)]="category.stateId" name="stateId" required [ngClass]="{'is-invalid': category.stateId === 0}">
            <option value="">Select State</option>
            <option *ngFor="let state of states" [ngValue]="state.id">{{ state.name }}</option>
          </select>
          <div *ngIf="category.stateId === 0" class="invalid-feedback">
            Please select a state.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">City *</label>
          <input class="form-control" type="text" (ngModelChange)="formValid()" [(ngModel)]="category.city" name="city" placeholder="Enter city" required [ngClass]="{'is-invalid': !category.city}">
          <div *ngIf="!category.city" class="invalid-feedback">
            Please enter a city.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">Postal number *</label>
          <input class="form-control" type="text" (ngModelChange)="formValid()" [(ngModel)]="category.postalNumber" name="postalNumber" placeholder="Enter postal number" required [ngClass]="{'is-invalid': !category.postalNumber}">
          <div *ngIf="!category.postalNumber" class="invalid-feedback">
            Please enter a postal number.
          </div>
        </div>

        <div class="col-12">
          <label class="form-label">Street *</label>
          <input class="form-control" type="text" (ngModelChange)="formValid()" [(ngModel)]="category.street" name="street" placeholder="Enter street" required [ngClass]="{'is-invalid': !category.street}">
          <div *ngIf="!category.street" class="invalid-feedback">
            Please enter a street.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">Latitude *</label>
          <input class="form-control" type="text" (ngModelChange)="formValid()" [(ngModel)]="category.latitude" name="latitude" placeholder="Enter latitude" required [ngClass]="{'is-invalid': !category.latitude}">
          <div *ngIf="!category.latitude" class="invalid-feedback">
            Please enter latitude.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">Longitude *</label>
          <input class="form-control" type="text" (ngModelChange)="formValid()" [(ngModel)]="category.longitude" name="longitude" placeholder="Enter longitude" required [ngClass]="{'is-invalid': !category.longitude}">
          <div *ngIf="!category.longitude" class="invalid-feedback">
            Please enter longitude.
          </div>
        </div>

        <div class="col-12">
          <iframe class="w-100 h-300px grayscale rounded"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"
            height="500" style="border: 0" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="text-end">
    <button type="button" class="btn btn-primary" (click)="gotoNext()" [disabled]="isFormValid==false">Continue</button>
  </div>
</div>
