<div class="vstack gap-4">
  <h4 class="mb-0">Basic Information</h4>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Choose Listing Category</h5>
    </div>

    <div class="card-body"> 
        <div class="row g-4">
          <div class="col-12">
            <label class="form-label">Listing type *</label>
            <select class="form-select js-choice" 
            required 
            [ngClass]="{'is-invalid': !listingForm.listingTypeId && isSubmitted}"
            [(ngModel)]="listingForm.listingTypeId" 
            >
              <option [value]="null" disabled selected>Select Listing Type</option>
              <option *ngFor="let type of listingTypes" [value]="type.id">{{ type.name }}</option>
            </select>
            <div *ngIf="listingForm.listingTypeId" class="invalid-feedback">
              Please select a listing type.
            </div>
          </div>
          

          <div class="col-12">
            <label class="form-label">Listing name *</label>
            <input class="form-control" 
            type="text" 
            placeholder="Enter place name" 
            required [ngClass]="{'is-invalid': !listingForm.listingName && isSubmitted}"
            [(ngModel)]="listingForm.listingName"
            >
            <div *ngIf="!listingForm.listingName" class="invalid-feedback">
              Please enter a listing name.
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">Is your listing set as a personal or guest use *</label>
            <div class="d-sm-flex">
              <div class="form-check radio-bg-light me-4" *ngFor="let option of guestOptions">
                <input class="form-check-input" type="radio" name="guestOption" [value]="option.value" [id]="option.id" required [ngClass]="{'is-invalid': !listingForm.guestOption && isSubmitted}" [(ngModel)]="listingForm.guestOption">
                <label class="form-check-label" [for]="option.id">
                  {{ option.label }}
                </label>
              </div>
            </div>
            <div *ngIf="!listingForm.guestOption" class="invalid-feedback">
              Please select guest option.
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">Short description *</label>
            <textarea 
            class="form-control" 
            rows="2"  
            name="description" 
            placeholder="Enter keywords" 
            required 
            [(ngModel)]="listingForm.description"
            [ngClass]="{'is-invalid': !listingForm.description && isSubmitted}"
            ></textarea>
            <div *ngIf="!listingForm.description" class="invalid-feedback">
              Please enter a short description.
            </div>
          </div>
        </div> 
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Listing Location</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Country/Region *</label>
          <select class="form-select js-choice"  
          [(ngModel)]="listingForm.countryId"
          required 
          [ngClass]="{'is-invalid': listingForm.countryId == null && isSubmitted}"
          (ngModelChange)="loadCitiesAndStates($event)"
          >
            <option [value]="null" disabled selected>Select Country</option>
            <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
          </select>
          <div *ngIf="listingForm.countryId == null" class="invalid-feedback">
            Please select a country.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">State *</label>
          <select class="form-select js-choice" name="stateId" required [ngClass]="{'is-invalid': listingForm.stateId == null && isSubmitted}" [(ngModel)]="listingForm.stateId">
            <option [value]="null" disabled selected>Select State</option>
            <option *ngFor="let state of states" [ngValue]="state.stateId">{{ state.stateName }}</option>
          </select>
          <div *ngIf="listingForm.stateId == null" class="invalid-feedback">
            Please select a state.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">City *</label>
          <select class="form-select js-choice"  name="city" required [ngClass]="{'is-invalid': listingForm.cityId == null && isSubmitted}" [(ngModel)]="listingForm.cityId">
            <option [value]="null" disabled selected>Select City</option>
            <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
          </select>
          <div *ngIf="listingForm.cityId == null" class="invalid-feedback">
            Please select a city.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">Postal number *</label>
          <input class="form-control" type="text"  [(ngModel)]="listingForm.postalNumber" placeholder="Enter postal number" required [ngClass]="{'is-invalid': !listingForm.postalNumber && isSubmitted}">
          <div *ngIf="!listingForm.postalNumber" class="invalid-feedback">
            Please enter a postal number.
          </div>
        </div>

        <div class="col-6">
          <label class="form-label">Street *</label>
          <input class="form-control" type="text"  [(ngModel)]="listingForm.street" placeholder="Enter street" required [ngClass]="{'is-invalid': !listingForm.street && isSubmitted}">
          <div *ngIf="!listingForm.street" class="invalid-feedback">
            Please enter a street.
          </div>
        </div>

        <div class="col-6">
          <label class="form-label">Thumbnail *</label>
          <input 
            class="form-control" 
            type="file"  
            (change)="onThumbnailChange($event)" 
            required 
            [ngClass]="{'is-invalid': !listingForm.thumbnail && isSubmitted}"
          >
          <div *ngIf="!listingForm.thumbnail && isSubmitted" class="invalid-feedback">
            Please upload a thumbnail.
          </div>
        </div>
        

        <div class="col-md-6">
          <label class="form-label">Latitude *</label>
          <input class="form-control" type="text"  [(ngModel)]="listingForm.latitude" name="latitude" placeholder="Enter latitude" required [ngClass]="{'is-invalid': !listingForm.latitude && isSubmitted}">
          <div *ngIf="!listingForm.latitude" class="invalid-feedback">
            Please enter latitude.
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">Longitude *</label>
          <input class="form-control" type="text"  [(ngModel)]="listingForm.longitude" name="longitude" placeholder="Enter longitude" required [ngClass]="{'is-invalid': !listingForm.longitude && isSubmitted}">
          <div *ngIf="!listingForm.longitude" class="invalid-feedback">
            Please enter longitude.
          </div>
        </div>

        <div class="col-12">
          <iframe class="w-100 h-300px grayscale rounded"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"
            height="500" style="border: 0" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="text-end">
    <button type="button" class="btn btn-primary" (click)="gotoNext()">Continue</button>
  </div>
</div>
